# Archivos de Visual Studio / IDE
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vsconfig

# Carpetas de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

# Cache de paquetes
/[Pp]ackages/com.unity.package-manager/

# Otros
*.unitypackage
*.apk
*.aab
*.app
*.xcworkspace/
*.xcuserdata/
.DS_Store